<header
  class="sticky top-0 z-50 h-15 border-b border-white/10 bg-[#050a11]/95 backdrop-blur-xl"
>
  <div class="mx-auto flex h-full max-w-7xl items-center justify-between px-5 md:px-8 lg:px-10">

    <a href="/" class="flex items-center gap-3">
      <div
        class="flex h-10 w-10 items-center justify-center rounded-xl border border-orange-400/40 bg-white/10 shadow-lg shadow-orange-500/20"
      >
        <!-- Icono SVG -->
        <svg
          class="h-6 w-6 text-orange-400"
          viewBox="0 0 64 64"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M32 4L52 12V28C52 42.5 43.5 55.5 32 60C20.5 55.5 12 42.5 12 28V12L32 4Z"
            stroke="currentColor"
            stroke-width="4"
            stroke-linejoin="round"
          />
          <path
            d="M32 18C25.9 18 21 22.9 21 29C21 38 32 48 32 48C32 48 43 38 43 29C43 22.9 38.1 18 32 18Z"
            stroke="currentColor"
            stroke-width="4"
            stroke-linejoin="round"
          />
          <circle
            cx="32"
            cy="29"
            r="4"
            fill="currentColor"
          />
        </svg>
      </div>

      <div class="leading-none">
        <p class="font-display text-2xl font-black tracking-[0.25em] text-white">
          KORI
        </p>
        <p class="text-[10px] font-semibold uppercase tracking-[0.22em] text-orange-400">
          Alerta ciudadana
        </p>
      </div>
    </a>

   <!--  <nav class="hidden items-center gap-8 text-sm font-medium text-gray-300 md:flex">
      <a href="#inicio" class="transition hover:text-orange-400">
        Inicio
      </a>
      <a href="#como-funciona" class="transition hover:text-orange-400">
        Cómo funciona
      </a>
      <a href="#registro" class="transition hover:text-orange-400">
        Registro
      </a>
    </nav>

    <a
      href="#registro"
      class="hidden rounded-full border border-orange-400/60 bg-orange-500/10 px-5 py-2 text-sm font-bold text-orange-300 transition hover:bg-orange-500 hover:text-white md:inline-flex"
    >
      Unirme
    </a> -->
  </div>
</header>
